* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  scroll-behavior: smooth;
}
body{
  font-family: 'Poppins', sans-serif;

  background-color: #1B1B1B;
}


/*Scroll Bar*/
::-webkit-scrollbar {
  width: 4px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #F4CE14;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #b89a05;
}



